/* Estilo general para ajustar mi tabla */
body {
    background-color: #999999;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Div cuadrados */
#contenedor {
    height: 100vh;
    min-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.cuadrado {
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 1;
}