/* Estilo general para ajustar mi tabla */
body {
    background-color: #999999;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    align-self: auto;
    margin-bottom: 8px;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin-bottom: 0;
    font-size: 28px;
    align-self: center;
}

/* Estilo de mouse */
.estado {
    background-color: #2B2C2D;
}

/* Div cuadrados */
#contenedor {
    height: 100vh;
    min-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

#centro {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#pizarra {
    height: 480px;
    width: 480px;
    margin-bottom: 22px;
    display: flex;
    flex-wrap: wrap;
    border: solid #077E13 8px;
    border-radius: 5px;
}

.cuadrado {
    background-color: #FFFFFF;
}

/* Estilos de botones */
button {
    border-radius: 5%;
}

#botones {
    margin-left: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
}

#negro {
    border: solid 3px black;
    color: black;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
}

#aleatorio {
    border: solid 3px blueviolet;
    color: blueviolet;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
}

#borrador {
    border: solid 3px rgb(107, 159, 163);
    color: rgb(107, 159, 163);
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
}

#borrar {
    border: solid 3px rgb(0, 18, 122);
    color: rgb(0, 18, 122);
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
}

/* Estilo de slider */
#tamaño {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

input {
    order: 1;
}

.tamañoNuevo {
    align-self: center;
    order: 1;
}