/* Estilo general para ajustar mi tabla */
body {
    background-color: #999999;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Div cuadrados */
#contenedor {
    height: 100vh;
    min-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

#centro {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#pizarra {
    height: 480px;
    width: 480px;
    margin-bottom: 22px;
    display: flex;
    flex-wrap: wrap;
    border: solid #077E13 8px;
    border-radius: 5px;
}

.cuadrado {
    background-color: #FFFFFF;
}